<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    @* facebook open graph *@
    <meta property="og:type" content="musician" />
    <meta property="og:url" content="http://www.gabior.com.br" />
    <meta property="og:description" content="Gabi Ór" />
    <meta property="og:title" content="Gabi Ór" />
    <meta property="og:locale" content="pt-br">
    <meta property="og:site_name" content="Gabi Ór">

    <meta name="keywords" content="musica, gabriela, gabriella, gabriella oresttes, gabriela orestes, gabriela oresttes, aulas, violão, violino, produção musical, guitarra, curso">
    <meta name="description" content="Gabi Ór - Gabriella Oresttes">

    <title>@ViewBag.Title</title>

    <script async="" src="//www.google-analytics.com/analytics.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)
</body>
</html>
